{% block content %}
<nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/blog/" style="font-family:cursive">My Blog</a>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li><a href="/blog/personal/"><span class="glyphicon glyphicon-user"></span> personal</a></li>-->
                        <li><a href="/blog/blog-list/"><span class="glyphicon glyphicon-list"></span> blog List</a></li>
						<li><a href="/blog/about/"><span class="glyphicon glyphicon-user"></span> About Me</a></li>
                    </ul>
                </div>
            </div>
        </nav>
{% endblock %}